@font-face {
    font-family: Oswald-Regular;
    src: url(../assets/tipografia/Oswald/Oswald-Regular.ttf);
}

@font-face {
    font-family: Slabo-Regular;
    src: url(../assets/tipografia/Slabo-Regular.ttf);
}




.container-fluid{
	padding: 0;
}

body{
	background-image:url(../assets/img/textura.png);
	color:grey;
}

/*SECCIÓN NAVEGADOR*/

header{
	position: fixed;
	width: 100%;
	z-index:8;
}


.navegador{
	.row{
		margin: 0;
	}
}

a{
	color:grey;
}

.navbar-default{
	background-color: white;
	border-bottom:2px solid grey;
	border-radius: 0px;
	margin:0;
}

.logo{
	width: 10%;
	a{
		padding:7px  !important;
		img{
			width: 100%;
		}
	}
}

.text-nav{
	font-size: 21px;
  margin-top: 2%;
  font-family: "Oswald-Regular";
}

.navbar-right{
	margin-top: 6.5px;
}


.nav-horizontal{
	padding-left: 8%;
	position: fixed;
  width: 100%;
  text-align: center;
  .icon-nav-horizontal{
		padding: 1.9% 2%;
		float: left;
		a{
			padding: 0;
			p{
				font-family: "Oswald-Regular";
			  font-size: 12px;
			  margin-top: 20%;
			  color: grey;
			}
		}
	}
}

.nav-right{
	span{
		font-size: 30px;
		font-family:"Slabo-Regular"
	}
	img{
	  width: 53%;
	  border: 4px solid white;
	  border-radius: 50%;
	}
}


.border-icon-nav-horizontal{
	border-bottom: 1px solid grey;
}

.text-sub{
	margin-top:10%
}

/*SECCIÓN NAVEGADOR-VERTICAL*/


.navagador-vertical{
	background-color: white;
	margin-top: 5%;
  position: fixed;
  width: 7em;
  z-index: 9;
}

.icon-nav-vertical{
  padding: 25% 14%;
  text-align: center;
  border-bottom: 1px solid grey;
  p{
  	font-family: "Oswald-Regular";
  	font-size: 12px;
  	margin-top: 20%;
  }
}

.icon-nav-vertical:hover{
	color: red !important;
}

.glyphicon{
	font-size: 30px;
}

